<div class="container">

	<div class="panel" id="bot_button" style="text-align: center; margin: 20px 250px; background: rgba(100,255,100,0.6);">
		<p id="starty">Start Bot</p>
		<p style="display: none;">Stop Bot</p>
	</div>

	<div class="panel " style="text-align: center;">

		<% all_user_ids = [] %>
		<% User.all.each do |user| %>
			<p id="user<%=user.id%>"><%=user.full_name%></p>
		<% all_user_ids << user.id %>
		<% end %>




	</div>

</div>

<script type="text/javascript">

	var all_users = <%= all_user_ids %>;



	function RandomUser(){
		var target_user_id = all_users[Math.floor(Math.random() * all_users.length)];
		var target_user_selector = '#user'+  target_user_id;


		$(target_user_selector).css('color','rgba(255,140,60,1)');
	}

	function startSession(userID){

		var sessionDuration = Math.floor((Math.random() * 10)+ 10000);
		var target_user_selector = '#user'+  userID;
		
		$(target_user_selector).css('color','rgba(255,140,60,1)');

		setInterval(function(){

			$(target_user_selector).css('color','white');

		}, sessionDuration)
	}

	$('#bot_button').on("click", function(){
		$(this).children("p").toggle();
	})

$(document).ready(function(){

	var usersSurfing =[1,3];
	var usersNotSurfing = [];

	setInterval(function(){

		usersNotSurfing = [];

		jQuery.grep(all_users, function(el) {
    	if (jQuery.inArray(el, usersSurfing) == -1) usersNotSurfing.push(el);
		});

		console.log(" Surfers not surfing:" + usersNotSurfing);

	}, 15000);

});


	



</script>