<div class="container">

	<div class="panel" id="bot_button" style="text-align: center; margin: 20px 250px; background: rgba(100,255,100,0.6);">
		<p id="starty">Start Bot</p>
		<p style="display: none;">Stop Bot</p>
	</div>

	<div class="panel " style="text-align: center;">

		<% all_user_ids = [] %>
		<% User.all.each do |user| %>
			<p id="user<%=user.id%>"><%=user.full_name%></p>
		<% all_user_ids << user.id %>

		<% end %>

		<%= all_user_ids %>




	</div>

</div>

<script type="text/javascript">

	var all_users = <%= all_user_ids %>;

	console.log(all_users);
	console.log('----');


	function RandomUser(){
		var target_user_id = all_users[Math.floor(Math.random() * all_users.length)];
		var target_user_selector = '#user'+  target_user_id;


		$(target_user_selector).css('color','rgba(255,140,60,1)');
	}

	function startSession(userID){

		var sessionStart = Math.floor(Math.random() * 50000);

		setTimeout(function(){

			var sessionDuration = Math.floor((Math.random() * 20000)+ 5000);
			var target_user_selector = '#user'+  userID;
			console.log('sesh start -' + sessionDuration);
			
			$(target_user_selector).css('color','rgba(255,140,60,1)');

				setInterval(function(){
					console.log('gps blip for user '+ userID);
				},1000)

			setTimeout(function(){

				$(target_user_selector).css('color','white');
				console.log('sesh end');

			}, sessionDuration);

		}, sessionStart);

	}

	$('#bot_button').on("click", function(){
		$(this).children("p").toggle();
	})

$(document).ready(function(){

	setInterval(function(){

		var usersSurfing =[];
		var usersNotSurfing = [];

		for (var i = all_users.length - 1; i >= 0; i--) {
			n = Math.random();

			if (n > 0.7) {
				usersSurfing.push(all_users[i]);
			};
		};

		jQuery.grep(all_users, function(el) {
    	if (jQuery.inArray(el, usersSurfing) == -1) usersNotSurfing.push(el);
		});

		console.log('surfing this hour ' + usersSurfing);
		console.log('not surfing ' + usersNotSurfing);

		for (var i = usersSurfing.length - 1; i >= 0; i--) {
			startSession(usersSurfing[i]);

		};

	}, 60000);

});


</script>